<!-- Contenedor principal -->
<div class="container">
  <br>
  <!-- NavBar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/assets/images/clipart.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
        Gestor de Contenidos</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/inicio']">Inicio</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProducts" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Productos
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Ver Productos</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" [routerLink]="['crear-producto']">Crear Producto</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAdd" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categorias
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" [routerLink]="['ver-categorias']">Ver Categorías</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item"  [routerLink]="['crear-categoria']">Crear Categoría</a></li>
            </ul>
          </li>
        </ul>

        <ul class="navbar-nav navbar-right">
          <li *ngIf="identity && identity.foto" class="">
            <img src="{{url + 'user/avatar/' + identity.foto}}" class="avatar_nav">
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" *ngIf="!identity || !identity.nombre" href="#" id="navbarDropdownUser" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Usuario
            </a>
            <a class="nav-link dropdown-toggle" *ngIf="identity && identity.nombre" href="#" id="navbarDropdownUserLogged" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{identity.nombre + ' ' + identity.apellidos}}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" *ngIf="!identity || !identity.nombre" [routerLink]="['/register']">Registro</a></li>
              <li><a class="dropdown-item" *ngIf="identity && identity.nombre" [routerLink]="['/ajustes']">Ajustes perfil</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" *ngIf="!identity || !identity.nombre" [routerLink]="['/login']">Login</a></li>
              <li><a class="dropdown-item" *ngIf="identity && identity.nombre" [routerLink]="['/logout/1']">Cerrar sesión</a></li>
            </ul>
          </li>
        </ul>

      </div>
    </div>
  </nav>
  <!-- /NavBar -->

  <!-- Contenido routing -->
  <router-outlet></router-outlet>

  <hr>
  <footer>Creado con Laravel 9 y Angular 12</footer>
  <hr>

</div>
<!-- /Contenedor principal -->
